body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-align: center;
    font-size: 7vw;
}

@media (min-width: 1024px) {  /* Adjust for larger screens */
    h1 {
        text-align: center;
        font-size: 4vw;
    }
}

h2 {
    margin-top: 0;
}

.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 20px;
    padding-top: 71px;
    height: 100%;
}

.main-content {
    /* display: flex; */
    /* justify-content: space-around; */
    width: 100%;
    max-width: 800px;
    
}

.upload-section,
.translate-section {
    background-color: #F7EED3;
    padding: 20px;
    border: 4px solid #674636;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 20px;
    
}

.upload-button,
.translate-label,
.search-button {
    background-color: #674636;
    color: #F7EED3;

    border: none;
    text-align: start;
    padding: 15px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 60%;
    
}

.upload-button:hover,
.search-button:hover {
    background-color: #3f2a20;
}

.upload-button:active,
.search-button:active {
    background-color: #25150d;
}

.translate-label:hover {
    background-color: #3f2a20;
}

.translate-label:active {
    background-color: #25150d;
}

.upload-button:disabled {
    background-color: #3f2a20;
}

input{
    margin-bottom: 20px;
}

/*.footer {*/
/*    margin-top: 40px;*/
/*    text-align: center;*/
/*}*/
