:root {
  color: #000000;
  background-color: #ffffff;
  margin: 5px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}